.Start {
  width: 100%;
  height: 100vh;
  background-color: #DFAAAA;
  margin: 0;
  padding: 0;

  .logo {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    margin: 0;
    padding: 0;
  }
}